[Unit]
Description=Easy firewall
DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
ExecStart=__PREFIX__/bin/fw -w __INTERFACE__:__IP_ADDRESS__ --single-home --ssh __SSH_PORT__ --tcp __TCP_PORTS__
ExecStop=__PREFIX__/bin/fw --stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
