[Unit]
Description=Easy firewall
DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
ExecStart=__PREFIX__/bin/fw -w __INTERFACE__:__IP_ADDRESS__ --single-home --tcp __TCP_PORTS__ --ssh __SSH_PORT__

[Install]
WantedBy=multi-user.target
